---
layout: base-layout
title: Article title
---

<main>
  <article class="line-numbers">
    <h1 class="article-heading">{{ title }}</h1>
    <p class="text-tertiary date">{{ date | date: '%B %d, %Y' }}</p>

    <div class="content">
      {{ content }}
    </div>
  </article>
</main>

<footer>
  <div class="footer-line"></div>

  <div class="footer-icons">
    {{ '/src/img/icons/linkedin.svg' | svgContents }}
    {{ '/src/img/icons/instagram.svg' | svgContents }}
    {{ '/src/img/icons/twitter.svg' | svgContents }}
    {{ '/src/img/icons/reddit.svg' | svgContents }}
    {{ '/src/img/icons/github.svg' | svgContents }}
    {{ '/src/img/icons/stackoverflow.svg' | svgContents }}
  </div>

  <a href="mailto:test@example.com" class="button-cta"> mail me </a>
</footer>
