---
layout: base-layout
title: Article title
---

<main>
  <article class="line-numbers">
    <h1 class="article-heading">{{ title }}</h1>
    <p class="text-tertiary date">{{ date | date: '%B %d, %Y' }}</p>

    <div class="content">
      {{ content }}
    </div>
  </article>
</main>

<footer>
  <div class="footer-line"></div>

  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/crisan-mihai" target="_blank" rel="noopener noreferrer">
      {{ '/src/img/icons/linkedin.svg' | svgContents }}
    </a>

    <a href="https://www.instagram.com/michaelfrontend" target="_blank" rel="noopener noreferrer">
      {{ '/src/img/icons/instagram.svg' | svgContents }}
    </a>

    <a href="https://twitter.com/michaelfrontend" target="_blank" rel="noopener noreferrer">
      {{ '/src/img/icons/twitter.svg' | svgContents }}
    </a>

    <a href="https://reddit.com/user/michaelfrontend" target="_blank" rel="noopener noreferrer">
      {{ '/src/img/icons/reddit.svg' | svgContents }}
    </a>

    <a href="https://github.com/crisanmm" target="_blank" rel="noopener noreferrer">
      {{ '/src/img/icons/github.svg' | svgContents }}
    </a>

    <a
      href="https://stackoverflow.com/users/10668140/michael-crisan"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ '/src/img/icons/stackoverflow.svg' | svgContents }}
    </a>
  </div>

  <a href="mailto:me@michaelfrontend.com" class="button-cta">mail me</a>
</footer>
